<nav>
    <ul>
        <img src="https://penji.co/wp-content/uploads/2019/08/ecommerce_logo_magento.jpg" alt="" />
    </ul>
    <ul class="menu">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">Categories</a>
            <ul class="dropdown-menu">
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Jewelry</a></li>
                <li><a href="#">Men's Clothing</a></li>
                <li><a href="#">Women's Clothing</a></li>
            </ul>
        </li>
        <li><a href="#">Deals</a></li>
        <li><a href="/products/new">Add Product</a></li>
        <li><a href="/">All Products</a></li>
    </ul>

    <ul>
        <li class="search">
            <input type="text" placeholder="Search Products" />
            <i class="fa-solid fa-magnifying-glass"></i>
        </li>
    </ul>
    <ul>
        <li class="user"><i class="fa-solid fa-user"></i><a href="/login">Login</a></li>
        <li class="user"><i class="fa-solid fa-user"></i><a href="/signUp">SignUp</a></li>
        <li class="cart"><i class="fa-solid fa-cart-shopping"></i>Cart</li>
    </ul>
</nav>