.main {
    height: 100vh;
    width: 100%;
    padding-top: 80px;
}

.welcome {
    font-size: 1.3rem;
    width: 93%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #EFF2F2;
    border-radius: 5px;
    margin-bottom: 10px;
}

.welcome-message {
    font-weight: 300;
    padding-left: 1rem;
    color: #2D2D2D;
}


.total a {
    font-size: 1rem;
    text-decoration: none;
    background-color: #cdd1d1;
    color: #2D2D2D;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: 300;
}


.checkout{
    color: white !important;; 
    background-color: #94877F !important;
}

.cart-container {
    width: 93%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
}

.cart-heading {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #94877F;
    padding: 1.25rem 0px;
    margin-bottom: 1rem;
}

.cart-heading span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cart-item {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF2F2;
    margin-bottom: 1rem;
    padding: 1.5rem 0;
    gap: 10px;
    font-weight: 300;
}

.cart-item-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.desc {
    text-align: justify;
    flex: 2;
}


.cart-item-child-1 {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.item-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 10px;
    color: #2D2D2D;
}

.item-name>span>a {
    text-decoration: none;
    color: #2D2D2D;
}

.unit-left {
    background-color: #94877F;
    color: white;
    padding: 0.25rem;
    border-radius: 5px;
    font-size: 0.8rem;
}

.cart-item-child-1 img {
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: fill;
    mix-blend-mode: multiply;
}

.cart-heading span:nth-child(1),
.cart-heading span:nth-child(2) {
    flex-basis: 30%;
}

.cart-heading span {
    flex-basis: 15%;
    text-align: center;
}


.empty-cart {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: #EFF2F2;
    color: #2D2D2D;
    font-weight: 300;
    font-size: 1rem;
}