.main {
    font-family: Arial, sans-serif;
    width: 50%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 1px solid #ccc;
    font-weight: 300;
    color: #2D2D2D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main>a {
    align-self: flex-start;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: #2D2D2D !important;
}

.main>a>i {
    font-size: 1rem;
    color: #2D2D2D !important;
    margin-bottom: 1rem;
}

.invoice {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

th,
td {
    border: 1px solid #D5D9D9;
    padding: 8px;
    text-align: center;
}

.item-name {
    text-align: left;
}

th {
    background-color: #D5D9D9;
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

.total {
    text-align: center;
}

.download {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.download>button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: #2D2D2D;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 300;
}