top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    color: #013D28;
}

top div {
    width: 90%;
    height: 400px;
    background-color: #FBEFE4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.top-left {
    width: 60%;
    height: 80%;
    margin-right: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.top-left h1 {
    font-size: 2rem;
    font-weight: 400;
}

.top-left h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.top-left button {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #013D28;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 30px;
    cursor: pointer;
}

.top-left p {
    font-size: 1rem;
    font-weight: 300;
}

.top-right {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.top-right img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    mix-blend-mode: multiply;
}



.products {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    gap: 100px;
    margin-bottom: 50px;
}

.products a {
    width: 20%;
    height: 40%;
}

.product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-img {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F6F6;
    border-radius: 10px;
}

.product img {
    width: 50%;
    height: 50%;
    mix-blend-mode: multiply;
}

.product-details {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-name-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 10px 0;
}

.product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.product-desc {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 300;
    color: #5b5b5b;
}

.add-to-cart {
    width: 30%;
    height: 30px;
    background-color: white;
    color: #013D28;
    font-size: 0.8rem;
    font-weight: 300;
    border-radius: 30px;
    outline: none;
    border: 1px solid #013D28;
    cursor: pointer;
    align-self: flex-start;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}

.add-to-cart:hover {
    background-color: #013D28;
    color: #fff;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.view-product {
    width: 30%;
    height: 30px;
    background-color: #013D28;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}