.back-button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: #013D28;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.heading {
    text-align: center;
    margin-top: 50px;
}

.form-container {
    width: 50%;
    margin: 50px auto;
}

.submit-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: #013D28;
    border: 2px solid #013D28;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.submit-button:hover {
    background-color: #013D28;
    color: white;
}