.product {
    width: 90%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 3rem;
}

.left {
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F6F6;
    border-radius: 10px;
}

.left-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image img {
    width: 50%;
    height: 50%;
    /* object-fit: cover; */
    mix-blend-mode: multiply;
}

.right {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.right-button {
    margin-bottom: 1rem;
}

.right-title {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
}

.right-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #868686;
    padding: 1rem 0;
    margin-top: 1.5rem;
}

.rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
}


.no-rating {
    margin-left: 10px;
    margin-top: 20px;
    height: 100%;
}

.right-price {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
    margin-top: 1.5rem;
}

.right-category {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #868686;
    margin-top: 1.5rem;
}

.product-count {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.product-count-title {
    margin-right: 10px;
}

.product-count-title h3 {
    font-size: 16px;
    margin: 0;
}

.product-count-buttons {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    background-color: #f4f4f4;
    border-radius: 15px;
}

.product-count-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #f4f4f4;
    color: #333;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

.product-count-button:hover {
    background-color: #ddd;
}

#count {
    width: 40px;
    height: 30px;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    background-color: transparent;
}

.buy-cart {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
    gap: 2rem;
}

/* .buy-cart a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

} */

.buy-product {
    width: 20%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    background-color: #013D28;
    color: white;
    outline: none;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.add-to-cart {
    width: 20%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    background-color: white;
    color: #013D28;
    outline: none;
    border: 1px solid #013D28;
    border-radius: 40px;
    cursor: pointer;
    padding-left: 5px;
}

.add-to-cart select {
    width: 30%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #013D28;
}

.add-to-cart-btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* border: 1px solid #013D28; */
    border: none;
    outline: none;
    cursor: pointer;
    color: #013D28;
}


.edit {
    /* width: 20%; */
    min-height: 40px;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #013D28;
}

.delete {
    width: 20%;
    min-height: 40px;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #013D28;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}